<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}フェリー運航情報サービス{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
</head>
<body>
    <header>
        <h1>フェリー運航情報サービス</h1>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">ホーム</a></li>
                <li><a href="{{ path('app_details') }}">航路詳細</a></li>
                {# <li><a href="{{ path('app_support') }}">サポート</a></li> #}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 フェリー運航情報サービス</p>
    </footer>
</body>
</html>
